{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 9,
		"sourceType": "module"
	},
	"plugins": ["react"],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
		"prettier/prettier": [
			"error",
			{},
			{
				"usePrettierrc": true
			}
		],
		"import/no-unresolved": [2, { "ignore": [".png$", ".svg$", ".jpg$"] }]
	}
}
