$steps-color: #039be5;

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

html,
body {
	background-color: #eee;
	padding: 0;
	margin: 0;
}

body,
#app {
	height: inherit;
}

.logo {
	width: 48px;
	margin-right: 24px;
}

.content > *,
main > * {
	height: 100%;
}

.content {
	.rc-steps-navigation .rc-steps-item {
		.rc-steps-item-container {
			padding-bottom: 16px;
			padding-right: 8px;
			border-bottom-color: $steps-color;

			.rc-steps-item-content {
				margin-top: 0;
			}

			.rc-steps-item-icon {
				margin-right: 16px;

				> .rc-steps-icon {
					color: $steps-color;
				}
			}
		}

		&.rc-steps-item-wait .rc-steps-item-icon {
			border-color: #ccc;
			background-color: #fff;

			> .rc-steps-icon {
				color: #ccc;
			}
		}

		&.rc-steps-item-process .rc-steps-item-icon {
			background: $steps-color;

			> .rc-steps-icon {
				color: #fff;
			}
		}

		&.rc-steps-item-finish .rc-steps-item-icon {
			border-color: $steps-color;

			> .rc-steps-icon {
				top: unset;

				> svg {
					height: 100%;
				}
			}
		}
	}
}
